body {
	font-family: Arial, sans-serif, 'メイリオ';
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	height: 100vh;
	overflow: hidden;
	line-height: 150%;
	font-size: 13pt;
}
.tabs {
	display: flex;
	gap: 5px;
	padding: 5px;
	overflow-x: auto;
	width: 100%;
	background-color: #f1f1f1;
	box-shadow: 0 4px 2px -2px gray;
}
.tab {
	padding: 8px 16px;
	background-color: #eee;
	cursor: pointer;
	flex: 1;
	text-align: center;
}
.tab.active {
	background-color: #ccc;
	font-weight: bold;
}
.editor-container {
	display: flex;
	width: 100%;
	height: calc(100% - 50px);
}
.editor, .preview {
	flex: 1;
	padding: 10px;
	border: 1px solid #ddd;
	overflow-y: auto;
	box-sizing: border-box;
}
.editor {
	font-family: Arial, sans-serif, 'メイリオ';
	border-right: none;
	resize: none;
	line-height: 150%;
	font-size: 13pt;
}